
<?php
/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */
?>
<?php if ($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price): ?>
    <?php   $range = $this->getPriceRange($filter); ?>
    <?php   $filteredrange = $this->getPriceRangeFiltered($filter);?>
    <?php $url = $this->getFilterUrl($filter); ?> 
    <?php $currency = $this->getCurrencySymbol(); ?> 
    <script>
        var price_url = "<?= $url; ?>";
        require([
            'jquery',
            'Mageplaza_AjaxLayer/js/action/submit-filter',
            "jquery/ui",
            'domReady!'
        ], function ($,submitFilterAction) {
            $("div#price-slider").slider({
                range: true,
                min: <?= $range['min'] ?>,
                max: <?= $range['max'] ?>,
                values: [<?= $filteredrange['min'] ?>, <?= $filteredrange['max'] ?>],
                slide: function (event, ui) {
                    var rangemaxPrice = parseInt(ui.values[1]+1)
                    $("#amountfrom").val(ui.values[ 0 ]);
                    $("#amountto").val( rangemaxPrice);
                },
                change: function (event, ui) {
                     var rangemaxPrice = parseInt(ui.values[1]+1);
                     var resultURL = price_url.replace("price=", "price="+ui.values[0] + "-" + rangemaxPrice);
                     submitFilterAction(resultURL);
                     event.stopPropagation();
                     event.preventDefault();
                     //window.location.href = resultURL;
                     //$.mageplaza.layer.ajaxSubmit(resultURL);
                }
            });
            
            $( "#price-go" ).click(function(e) {                
                var priceFrom = $("#amountfrom").val();
                var priceTo = $("#amountto").val();
                var rangemaxPrice = parseInt(priceTo+1)
                var resultURL = price_url.replace("price=", "price="+priceFrom + "-" + priceTo);
                //window.location.href = resultURL;
                submitFilterAction(resultURL);
                e.stopPropagation();
                e.preventDefault();
            
            });
            $("#amount").val("$" + $("#price-slider").slider("values", 0) +
                    " - $" + $("#price-slider").slider("values", 1));

            $("#amountfrom").val($("#price-slider").slider("values", 0));
            $("#amountto").val($("#price-slider").slider("values", 1));

        });
    </script>
   
    <div id="price-slider"></div>
    <div class="inputrange">
        <span class="store_currency"><?php echo $currency; ?></span>
        
        <input type="text" name="from" id="amountfrom" value=""/>
        <span class="delimiter">-</span>
        <input id="amountto" type="text" name="to" value=""/>
        <button class="price-go" title="Apply filter" id="price-go"><?= /* @escapeNotVerified */ __('Go') ?></button>
    </div>

<?php else: ?>
    
<ol class="items">
    <?php foreach ($filterItems as $filterItem) : ?>
        <li class="item">
            <?php if ($filterItem->getCount() > 0) : ?>
                <a href="<?= $block->escapeUrl($filterItem->getUrl()) ?>">
                    <?= /* @noEscape */ $filterItem->getLabel() ?>
                    <?php if ($this->helper(\Magento\Catalog\Helper\Data::class)->shouldDisplayProductCountOnLayer()) : ?>
                        <span class="count"><?= /* @noEscape */ (int)$filterItem->getCount() ?><span class="filter-count-label">
                            <?php if ($filterItem->getCount() == 1) :
                                ?> <?= $block->escapeHtml(__('item')) ?><?php
                            else :
                                ?> <?= $block->escapeHtml(__('item')) ?><?php
                            endif;?></span></span>
                    <?php endif; ?>
                </a>
            <?php else :?>
                <?= /* @noEscape */ $filterItem->getLabel() ?>
                <?php if ($this->helper(\Magento\Catalog\Helper\Data::class)->shouldDisplayProductCountOnLayer()) : ?>
                    <span class="count"><?= /* @noEscape */ (int)$filterItem->getCount() ?><span class="filter-count-label">
                        <?php if ($filterItem->getCount() == 1) :
                            ?><?= $block->escapeHtml(__('items')) ?><?php
                        else :
                            ?><?= $block->escapeHtml(__('items')) ?><?php
                        endif;?></span></span>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
<?php endif; ?>