.page-header .panel.wrapper,
.copyright,
.page-footer,
.page-header {
    background: #1E3244;
}

.panel-wrapper {
    border-bottom: 1px solid #e8e8e86e;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Futura Md BT' !important;
    line-height: normal;

    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper>.widget,
    .page-wrapper>.page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        max-width: 1640px;
    }


    * {
        line-height: auto;
    }
}

ul,
li {
    list-style: none;
}

.header {
    &.panel {
        display: flex;
        align-items: center;
        position: relative;

        padding-bottom: 6px !important;
        padding-top: 6px !important;


        &.wrapper {
            border-bottom: 1px solid #e8e8e86e;
        }

        &>.header.links>.authorization-link {
            text-transform: uppercase;

            &:after {
                display: none !important;
            }

            a {
                &::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: '\f007'
                }
            }
        }

        a {
            display: inline-block;
            font-size: 16px;

            &:hover {
                text-decoration: none;
            }
        }



        .external-link-store {
            font-family: 'Futura Md BT';
            font-weight: 300;

            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 800;
            }
        }

        .switcher-dropdown {
            .switcher-option a {
                display: block;
                padding: 5px 10px;
                font-size: 16px;
            }
        }

        .header.links {
            width: 100%;
            display: flex;
            align-items: center;

            ul {
                padding-left: 0;
                display: flex;
                margin-right: auto;

            }

            .aboutus-link,
            .store-locate-link,
            .catalogue-link,
            .contactus-link {
                display: flex !important;
                margin-right: 55px;
                margin-bottom: 0;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.6);
                    transition: .3s;
                    line-height: 17px;

                    &:hover {
                        color: #fff;
                    }

                    &::before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        display: block;
                        margin-right: 8px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    span {
                        display: block;
                        font-weight: 400;
                    }
                }
            }

            .aboutus-link a::before {
                background-image: url('@{baseDir}images/icons/about.png');
            }

            .store-locate-link a::before {
                background-image: url('@{baseDir}images/icons/store.png');
            }

            .catalogue-link a::before {
                background-image: url('@{baseDir}images/icons/catalogues.png');
            }

            .contactus-link a::before {
                background-image: url('@{baseDir}images/icons/phone.png');
            }
        }

        .external-link-wrapper {
            margin-right: 0 !important;
            padding-right: 170px;
            font-size: 16px;

            &>.dropdown {
                padding: 1px;
                animation: movingSelection 10s;

                .dropdown-toggle {
                    background: #1e3244;
                    border-radius: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }


            .dropdown-menu {
                padding: 0;
                border: none;
                box-shadow: 0 0 3px #80808085;
                border-radius: 0;

                a {
                    display: block;
                    padding: 6px 15px;
                    font-size: 16px;
                    border: 1px solid #ececec;

                    &.active {
                        color: #777777;
                    }

                    &:before {
                        content: '\f35d';
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        font-size: 10px;
                        margin-right: 5px;
                    }
                }
            }

            button {
                background: none;
                border: none;
                box-shadow: none;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                display: block;
                text-transform: uppercase;
                margin: 0;
                width: auto;
            }

            label {

                &::before {
                    margin-right: 10px;
                }
            }
        }

        .switcher-options {
            position: absolute;
            right: 154px;
            top: 13px;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    &.content {
        display: flex;
        align-items: center;
        padding: 16px 20px !important;


        a.logo {
            margin-right: 0;
            margin-bottom: 0;

            img {
                max-height: 55px;
                object-fit: contain;
            }
        }

        &>li {
            margin-left: auto;
        }

        .block-search {
            padding-left: 0;
            position: relative;
            width: 50%;
            z-index: 4;
            height: 45px;
            background: #fff;
            padding: 0 15px;
            border-radius: 15px;
            margin: auto;

            .block-content {
                margin-top: 8px;
            }

            input {
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .control {
            display: flex;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 60px;
                width: 1px;
                top: -9px;
                background: #d0d0d0;
            }

            input {
                border: none;
                padding-right: 30px;
            }

        }

        .minicart-wrapper .action.showcart:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f291';
            font-size: 25px;
            color: #fff;
        }

        a.wishlist-link {
            font-size: 0;

            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 25px;
                color: #fff;
                content: '\f004';
                margin-right: 15px;
            }
        }

        .category-select {
            position: relative;
            margin-right: 72px;

            &::after {
                content: '';
                position: absolute;
                left: -15px;
                width: 1px;
                top: -8px;
                background: #d0d0d0;
            }

            select {
                width: auto;
                padding-right: 60px;
                border: none;
            }

        }

        .action.search {
            right: 25px;
            top: 10px;
        }
    }

    .minicart-wrapper {
        order: 1;
    }
}

.nav-sections {
    background: #004F9C;
}

.navigation {

    .ui-icon-carat-1-e {
        display: none !important;
    }
}

.nav-sections-item-content>.navigation {
    max-width: 1640px;
    background: #004F9C;
}

.navigation .level0.parent>.level-top,
.navigation .level0>.level-top,
.navigation .level0>.level-top,
.navigation .level0>.level-top:hover,
.navigation .level0>.level-top.ui-state-focus {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
}

.link-with-image {
    position: relative;
    margin-bottom: 30px;

    img {
        width: 100%;
    }

    a {
        font-size: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;
        top: 0;
        left: 0;
    }
}

.nav-tabs {
    border: none;
    flex-direction: column;

    &.show_title {
        &:before {
            content: attr(title);
            display: block;
            width: 100%;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 10px;
            max-width: 250px;
            max-width: 250px;
        }
    }

    .nav-item {
        width: 100%;

        .nav-link {
            position: relative;
            padding: 15px 30px;
            font-size: 16px;
            border: 1px solid transparent;
            color: #000;

            &::after {
                content: '';
                position: absolute;
                background: #0078CE;
                width: 3px;
                height: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                transition: .3s;
            }

            &.active {
                border: 1px solid #dee2e6;
                border-width: 1px 0;

                &::after {
                    content: '';
                    opacity: 1;
                }

            }
        }
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-color: #dee2e6;
        border-width: 1px 0;
    }
}


.left-tabs-wrap {
    border-right: 1px solid #dee2e6;
    height: 100%;

    .link-with-image {
        margin: 0;
    }
}

.products-grid {
    .product-item-inner {
        position: inherit;

        .product-item-actions {
            position: absolute;
        }
    }



    .product-items {
        margin: 0 -15px !important;

        .product-item {
            width: 33.33% !important;
            margin: 0 !important;
            padding: 0 15px !important;
            position: relative;

            .photo-wrapper {
                position: relative;

                .actions-secondary {
                    position: absolute;
                    z-index: 99;
                    background: rgba(30, 50, 68, 0.62);
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    padding: 10px;
                    text-align: center;
                }

                .details-wrapper {
                    display: flex;
                }
            }

            .product-item-info {
                display: block !important;
            }
        }
    }

}

.widget.block.block-static-block {
    margin: 0;
}
.top-categories-list{
    h4 {
        background: #1E3244;
        padding: 17px 15px;
        color: #fff;
        margin: 0;
        border: 1px solid rgba(255, 255, 255, 0.29);
        font-size: 16px;
        a{
            color: #fff;
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 15px;
                content: '\f005';
            }
        }
    }

    ul{
        padding: 0;
        margin: 0;
        li{
            margin: 0;
        }
    }
}

.additional-list{
    padding: 0;
    li{
        background: #1E3244;
        padding: 17px 15px;
        color: #fff;
        margin: 0;
        border: 1px solid #ffffff4a;
        font-size: 16px;
        margin: 15px 0;
        a{
            color: #fff;
            
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 15px;
                content: '\f005';
            }
        }
    }

}

footer.page-footer {
    position: relative;
    padding-top: 105px;
    padding-bottom: 60px;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: -1px;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-top: 36px solid #fff;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -5px;
        background-color: transparent;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        z-index: 1;
        border: 2px dotted rgba(202, 202, 202, 0.651);
        animation: circleBorderAnimated 4s infinite;
    }

    .to-top {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -1px;
        background-color: #004F9C;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        z-index: 1;
        background-size: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('@{baseDir}images/icons/arrow-up.jpg') !important;
    }

    .footer.content {
        display: flex;
        flex-wrap: wrap;
        max-width: 1365px;
        border: none !important;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            background-color: transparent;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: 1;
            border: 2px dotted rgba(202, 202, 202, 0.651);
            animation: circleBorderAnimated 4s infinite;
            animation-delay: 1s;
        }

        h4 {
            color: #fff;
            font-family: sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 40px;
            font-size: 15px;

            &::before {
                content: '';
                height: 12px;
                width: 2px;
                background: #79B6C8;
                display: inline-block;
                margin-right: 6px
            }
        }

        p,
        a,
        a:visited,
        li {
            color: #8E8E8E;
            font-size: 14px;
            list-style: disc;
            margin-bottom: 10px;
        }

        ul {
            padding-right: 0;
            margin-left: 15px;
        }
    }

    .menu {
        padding: 45px 15px 0;
        margin: 0 5%;

        &:first-child,
        &:last-child {
            margin: 0;
        }

        &.about-store {
            background-image: url('@{baseDir}images/Map-BG.png') !important;
            background-size: cover;
            padding-right: 80px;
            background-repeat: no-repeat;
            background-position: 0px 45px;
            margin-left: 0;
            display: flex;
            flex-direction: column;

            p {
                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    margin-right: 10px;
                    color: #fff;
                }

                &:nth-child(2):before {
                    content: '\f015';
                }

                &:nth-child(3):before {
                    content: '\f095';
                }

                &:nth-child(4):before {
                    content: '\f0e0';
                }
            }

            &::after {
                content: '';
                display: block;
                width: 278px;
                height: 30px;
                background-image: url('@{baseDir}images/cards-stack.jpg') !important;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom left;
                margin-top: auto;
                padding-top: 50px;
            }
        }
    }

}




.copyright {
    color: #8E8E8E;
    text-align: left;
    padding: 20px;
    border-top: 1px solid rgba(142, 142, 142, 0.471);

    >span {
        display: block;
        width: 100%;
        padding: 0 20px;
        max-width: 1365px;
        margin: auto;

        .company {
            &::after {
                content: '-';
                margin: 0 0px 0 4px;
            }

        }
    }

    &+small.copyright {
        display: none;
    }
}


@media(max-width:1470px) {

    .header.panel .header.links .aboutus-link,
    .header.panel .header.links .store-locate-link,
    .header.panel .header.links .catalogue-link,
    .header.panel .header.links .contactus-link {
        margin-right: 30px;
    }

    .header.panel .header.links .aboutus-link a,
    .header.panel .header.links .store-locate-link a,
    .header.panel .header.links .catalogue-link a,
    .header.panel .header.links .contactus-link a {
        font-size: 12px;
        line-height: 15px;
    }

    .header.panel .external-link-wrapper {
        padding-right: 144px;
    }

    .header.panel .external-link-wrapper button,
    .header.panel .switcher-options,
    .header.panel a {
        font-size: 14px;
    }

    .header.panel .switcher-options {
        right: 137px;
        top: 12px;
    }

    .navigation .level0.parent>.level-top,
    .navigation .level0>.level-top,
    .navigation .level0>.level-top,
    .navigation .level0>.level-top:hover,
    .navigation .level0>.level-top.ui-state-focus {
        font-size: 16px;

    }
}

.page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e869;
}


@media(max-width: 1199px) {
    .header {

        &.panel {
            display: flex;
            background: #fff;

            .header.links {
                margin-right: 0;
            }

            .switcher-language {
                order: 1;
                display: block;

                .switcher-options {
                    position: initial;
                }
            }

            .switcher .options ul.dropdown {
                right: initial;
                left: 0;

                &::before,
                &::after {
                    left: 10px;
                    right: auto;
                }
            }

            .header.links a,
            .switcher-trigger,
            .external-link-wrapper>.dropdown .dropdown-toggle {
                color: #5A5A5A !important;
                background: #fff !important;
            }

            .contactus-link {
                display: none;
                order: 1;
                margin: auto !important;

                a {
                    &::before {
                        background-image: url('@{baseDir}images/icons/headset.png') !important;
                        margin-right: 3px !important;
                    }
                }
            }

            .aboutus-link a::before {
                background-size: contain;
            }


            #switcher-language {
                position: relative;
                margin-left: 0;
            }

            .switcher-trigger {
                display: flex !important;
                align-items: center;

                &::after {
                    margin-left: 15px !important;
                    width: 17px;
                }

                .view-default {
                    display: flex;
                    align-items: center;

                    &::after {
                        margin-top: -1px;
                    }
                }

                img {
                    margin-right: 5px;
                }
            }

            .external-link-wrapper {
                order: 2;
                padding-right: 0;
                margin: auto !important;


            }

            .authorization-link {
                order: 3;
            }

            .header.links {
                order: 2;

                &>ul {
                    background: #fff;
                    position: fixed;
                    color: #000;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    z-index: 99;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 10px 10px;
                    border-radius: 0 0 30px 30px;
                    z-index: 99999;

                    li {
                        width: 30% !important;
                        margin-right: 10px !important;

                        a {
                            color: #2b2b2d86 !important;
                            font-size: 12px !important;

                        }

                        &:last-child {
                            margin-right: 0 !important;
                        }

                        &.contactus-link {
                            display: none !important;

                            &:before {}
                        }
                    }

                    .close-sec {
                        width: 100%;
                        text-align: center;
                        border-top: 1px solid rgba(226, 226, 226, 0.63);
                        flex-wrap: wrap;
                        padding: 10px 0 0;
                        margin-top: 10px;

                        button {
                            background: #004F9C;
                            color: #ffff;
                            font-size: 13px;
                            border-radius: 25px;
                            border: none;
                            text-transform: uppercase;
                        }
                    }

                    .header.panel .switcher-options {
                        left: 20px;
                        right: initial;
                    }
                }
            }
        }

        &.content {
            display: flex;
            flex-wrap: wrap;

            .block-search .action.search:before {
                color: #fff;
            }

            a.logo {
                margin-left: 0;
                order: 1;
            }

            .minicart-wrapper {
                order: 3;
                margin-top: 0;
            }

            &>li {
                order: 2;
                margin-left: auto !important;
            }

            .block-search {
                width: 100%;
                order: 4;
                overflow: hidden;
                margin-top: 20px;

                [data-role|="minisearch-label"] {
                    &::before {
                        color: #fff;
                        margin-top: -3px;
                        font-size: 19px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 60px;
                    background: #0078CE;
                    z-index: -1;
                }

                .control {
                    border: none;

                    input {
                        left: 0px;
                        top: -4px;
                        background: transparent;
                    }
                }
            }

            .category-select {
                margin-right: 72px;
                width: auto;
                display: inline-flex;
                position: absolute;
                right: 0;
                top: 0;
                border: none;


            }

            .control::after,
            .category-select::after {
                display: none;
            }

            .nav-toggle {

                left: initial;
                right: 25px;
                top: 19px;


                &:before {
                    color: #fff;
                }
            }
        }
    }

    footer.page-footer {
        padding-top: 60px;
        padding-bottom: 0;

        .menu {
            width: 50%;
            margin: 0;

            &.my-account {
                margin-bottom: 20px;
            }
        }

    }


    .copyright {
        text-align: center;
        padding: 10px 20px;
        >span {
            font-size: 12px;
            font-weight: 500;
            color: #C5C5C5;
            span{
                display: block;
            }
            .company {
                color: #ffff;
                
                &::after {
                    display: none;
                }

            }
        }

        &+small.copyright {
            display: none;
        }
    }
}

@media(max-width: 767px) {
    .nav-sections {
        background: #1E3244;

        .switcher {
            font-weight: 300;
            color: #fff;
        }

        .nav-sections-items,
        .navigation ul {
            background: #1E3244;
        }

        .nav-sections-item-switch {
            color: #1E3244 !important;
            font-size: 15px;
        }

        .nav-sections-item-title.active {
            background: #1e3244 !important;

            .nav-sections-item-switch {
                color: #fff !important;
                font-size: 14px;
            }
        }

        .navigation .level0.active>a:not(.ui-state-active),
        .navigation .level0.has-active>a:not(.ui-state-active) {
            border-color: #ffffff;
            border-style: solid;
            border-width: 0 0 0 8px;
            color: #ffffff;
        }

        .navigation a,
        .nav-sections .header.links a,
        .nav-sections .header.links a:hover,
        .navigation a:hover {
            color: #fff !important;
        }

        .navigation a {
            font-weight: 400;
        }

        .header.links {
            ul {
                padding: 0;

                li {
                    a {
                        font-weight: 400;
                    }
                }
            }

            .external-link-wrapper {
                padding: .8rem 20px;
                border-top: 1px solid #d1d1d1;

                button {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    padding: 0;

                    .fa-globe:before {
                        display: none;
                    }
                }
            }
        }

        .nav-sections-item-title {
            background: #b4bdc5;
            height: auto;
            padding: 0;
        }

        .navigation .level0>.level-top {
            font-size: 14px;
            line-height: initial;
        }
    }

    .header.content {
        .nav-toggle {
            left: initial;
            right: 25px;
            top: 25px;
        }

        .block-search {
            height: 38px;
        }

        .minicart-wrapper {
            order: 3;
            margin-top: 0;
            margin-right: 58px;
            margin-left: 10px;
        }
    }
}

@media(max-width: 575px) {

    header.page-header {

        .header.panel {
            padding-left: 5px;
            padding-right: 5px;

            .external-link-wrapper>.dropdown .dropdown-toggle,
            .links>li>a,
            .switcher-trigger,
            .header.links .contactus-link a {
                padding: 0;
                font-size: 10px;
            }

            .header.links .contactus-link a::before {
                width: 20px;
                height: 20px;
                background-size: 10px;
                margin-right: -2px !important;
            }

            .external-link-wrapper label::before {
                margin-right: 2px;
            }

            .external-link-wrapper>.dropdown .dropdown-toggle {
                margin-top: 3px;
            }

            .header.links>ul {


                li {
                    a {
                        font-size: 9px !important;

                    }
                }
            }
        }

        .block-search {
            height: 35px;
            margin-top: 10px;

            .label {
                &::before {
                    font-size: 16px;
                }
            }
        }

        .header.content {
            padding: 10px 5px !important;

            a.logo {
                img {
                    max-height: 30px;
                }
            }

            .nav-toggle {
                top: 13px;
                right: 10px;

                &:before {
                    color: #fff;
                    font-size: 20px;
                }
            }

            a.wishlist-link::after {
                font-size: 18px;
            }

            .minicart-wrapper {
                margin-right: 43px;
                margin-left: 5px;

                .action.showcart:before {
                    font-size: 18px;
                }
            }
        }
    }


    footer.page-footer {

        .menu.about-store {
            width: 100%;
            margin: 0;
        }
        .menu.customer-service{
            padding-top: 0;
        }
    }
    
}


/* Animations */

@keyframes movingSelection {
    from {
        background-image: url('@{baseDir}images/selection.gif');
    }

    to {
        background-image: none;
    }
}

@keyframes circleBorderAnimated {

    from {
        opacity: 1;
        width: 80px;
        height: 80px;
        top: -5px;
    }

    to {
        opacity: 0;
        top: -27px;
        width: 120px;
        height: 120px;
    }
}
