<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$catId = $category->getId();
$categoryData = $category->getData();
$categoryDisplayMode = $categoryData['display_mode'];

$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
$subcats = $subcategory->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
if (!empty($subcats) && $categoryDisplayMode !== 'PRODUCTS') {
    ?>
<div class="details-button-outercont">
    <a class="lighter-btn btn" href="/offers" target="_blank" rel="noopener">Shop New Arrivals</a>
    <a class="primary-btn btn" href="/offers" target="_blank" rel="noopener">Shop The Range</a>
</div>

<ul class="sub-cat">
	<?php
    foreach ($subcats as $subcat) {
        $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
        $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
        $subcaturl = $subcat->getUrl();
        $_imgHtml = '';
        if ($_imgUrl = $_category->getImageUrl()) {
            $_imgHtml = '<img src="' . $_imgUrl . '" />';
            $_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
        /* @escapeNotVerified */
        } else {
            $_imgHtml = '<img src="http://staging.katsafados.com/pub/media/wysiwyg/womens/womens-erin.jpg" />';
            $_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
        } ?>
		<li>
			<div class="cat-image">
				<a href="<?php echo $subcaturl ?>"><?php echo $_imgHtml; ?></a>
			</div>
			<div class="info"> 
				<a class="link" href="<?php echo $subcaturl ?>"><h4><?php echo $subcat->getName(); ?></h4></a>
			</div>
			</li>
		<?php
    } ?>
	</ul>
	<?php
}  
if (!$block->isContentMode() || $block->isMixedMode()) :?>
	<?= $block->getProductListHtml() ?>
<?php endif; ?>
