<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<!-- <li class="authorization-link" data-label="<?= $block->escapeHtmlAttr(__('or')) ?>">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
        <?= $block->isLoggedIn() ? __('Logout') : __('Login'); ?>
    </a>
</li> -->
<ul class="authorization-link">
    <li class="links-container">
        <span data-mage-init='{"dropdown":{}}' data-toggle="dropdown">Login</span>
        <div class="customer-menu" data-target="dropdown">
            <?php if($block->isLoggedIn()):?>
            <ul class="header links">
                <li><a href="<?php echo $this->getUrl('customer/account')?>">My Account</a></li>
                <li><a href="<?php echo $this->getUrl('wishlist')?>">My Wishlist</a></li>
                <li>
                    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
                        Logout
                    </a>
                </li>
            </ul>
            <?php else:?>
                <ul class="header links">
                <li>
                    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
                        Login
                    </a>
                </li>
                <li><a href="<?php echo $this->getUrl('customer/account/create')?>">Register</a></li>
            </ul>
            <?php endif; ?>
        </div>
    </li>
</ul>