<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
?>
<?php if (!$_productCollection->count()) : ?>
    <div class="message info empty">
        <div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else : ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) : ?>
                <li class="item product product-item">
                    <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">
                        <div class="photo-wrapper">
                            <?php
                            $productImage = $block->getImage($_product, $imageDisplayArea);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image 
                            ?>
                            <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>" class="product photo product-item-photo" tabindex="-1">
                                <?= $productImage->toHtml() ?>
                            </a>
                            <div data-role="add-to-links" class="actions-secondary" <?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <?php if ($addToBlock = $block->getChildBlock('addto')) : ?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="details-wrapper">
                            <div class="product details product-item-details">
                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                
                                <?php /* @escapeNotVerified */ //echo "<p class='short-desc'>Product desc placeholder lorem ipsum donut desc placeholder lorem ipsum donut" . $_helper->productAttribute($_product, $_product->getDescription() . "</p>", 'description');  ?>
                                <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                
                                <strong class="product name product-item-name"> 

                                    <a class="product-item-link" href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    </a>
                                </strong>
                               
                                
                                <?php if ($_product->getIsSalable()) : ?>
                                                <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                            <?php else : ?>
                                                <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                <?php endif; ?>
                                <?= $block->getReviewsSummaryHtml($_product, $templateType, true) ?>
                            </div>
                            <div class="product-item-inner">
                                
                                <div class="product actions product-item-actions" <?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>
                                    <div class="actions-secondary" data-role="add-to-links"> 
                                        <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() ) : ?>
                                            <?php //phpcs:enable 
                                            ?>
                                            <a href="#" data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                <span><i class="fas fa-heart"></i></span>
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                    <div class="actions-primary" <?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                        <?php if ($_product->isSaleable()) : ?>
                                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                            <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>" action="<?= $block->escapeUrl($postParams['action']) ?>" method="post">

                                                <input type="hidden" name="product" value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                <?= $block->getBlockHtml('formkey') ?>
                                                <div class="details-qty qty">
                                                <label class="label" >Qty</label>
                                                <div class="qty-more qty-more-detail" data-item-id="<?= $_product->getId() ?>">+</div>       
                                                <input id="#item-qty-detail-<?= $_product->getId() ?>" name ="qty" type="number" size="4" value="1" class="item-qty-detail item-qty cart-item-qty">
                                                <div class="qty-less qty-less-detail">-</div> 
                                            </div>
                                                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>" class="action tocart primary">
                                                    <i>Add to Cart</i>
                                                    <span><img src="<?php echo $this->getViewFileUrl('images/icons/bag.png'); ?>" alt="cart-btn" /></span>
                                                </button>
                                            </form>
                                        <?php else : ?>
                                            <?php if ($_product->isAvailable()) : ?>
                                                <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                            <?php else : ?>
                                                <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <?php if ($showDescription) : ?>
                                    <div class="product description product-item-description">
                                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                        <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>" title="<?= /* @noEscape */ $_productNameStripped ?>" class="action more"><?= $block->escapeHtml(__('Learn More')) ?></a>
                                    </div>
                                <?php endif; ?>
                            </div>


                            
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <script type="text/javascript">
    require(["jquery"],function($){
    $('body').on("click",".qty-more-detail, .qty-less-detail",function(e){
        e.stopPropagation();
        var obj = $(this);
        console.log(obj.siblings('.item-qty-detail').val());
        var itemid = obj.attr('data-item-id');
        var currentQty = obj.siblings('#item-qty-detail-'+itemid).val();
        if(obj.hasClass('qty-more-detail')){
            var newAdd = parseInt(currentQty)+parseInt(1);
            obj.siblings('#item-qty-detail-'+itemid).val(newAdd);
            //$('#update-cart-item-'+iid).click();
            //$('.update-cart-item').show();
        } else {
            if(parseInt(currentQty) > 1){
                var newAdd = parseInt(currentQty)-parseInt(1);
                obj.siblings('#item-qty-detail-'+itemid).val(newAdd); 
                //$('#update-cart-item-'+iid).click();
                //$('.update-cart-item').show();
            }
        }
    });
    });
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
            {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>