<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $catId = 2;  //Parent Category ID
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
    $subCats = $subCategory->getChildrenCategories();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php 
if( count($subCats) > 0 ):
 ?>
<h4>Top Categories</h4>
<ul class="topcategories-list sub-cat-ul">
    <?php
    foreach ($subCats as $subcat) {
        $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
        $subcaturl = $subcat->getUrl();
        ?>
        <li class="cat-li">
            <div class="info">
                <h4>
                	<a href="<?php echo $subcaturl ?>"><?php echo $subcat->getName(); ?>
                	</a>
                </h4>
            </div>
        </li>
    <?php } ?>
</ul>
<?php endif; ?>