<?php 
    /*** Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */
    /** @var $block \Magento\Framework\View\Element\Template */ 
    /** @var $helper \Magento\Search\Helper\Data */ 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $helper = $this->helper(\Magento\Search\Helper\Data::class);  
    $categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load(2);
    $subCats = $subCategory->getChildrenCategories();  
?> 

<div class="block block-search">
    <div class="block block-title"><strong><?= $block->escapeHtml(__('Search')) ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?= $block->escapeUrl($helper->getResultUrl()) ?>" method="get">
            <div class="field search"><label class="label" for="search" data-role="minisearch-label"><span><?= $block->escapeHtml(__('Search')) ?></span></label>
                <div class="control">
                    <input id="search" data-mage-init='{"quickSearch":{ "formSelector":"#search_mini_form", "url":"<?= $block->escapeUrl($helper->getSuggestUrl()) ?>", "destinationSelector":"#search_autocomplete", "minSearchLength":"<?= $block->escapeHtml($helper->getMinQueryLength()) ?>"} }' type="text" name="<?= $block->escapeHtmlAttr($helper->getQueryParamName()) ?>" value="<?= /* @noEscape */ $helper->getEscapedQueryText() ?>" placeholder="<?= $block->escapeHtmlAttr(__('Popular searches: Shishas, Antiseptics, etc')) ?>" class="input-text" maxlength="<?= $block->escapeHtmlAttr($helper->getMaxQueryLength()) ?>" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off" aria-expanded="false" />
                    <div id="search_autocomplete" class="search-autocomplete"></div><?= $block->getChildHtml() ?>
                    <!-- <div class="category-select">
                        <select name="cat" id="cat">
                            <option value="" selected disabled>Select Category</option>
                            <?php
                                    // foreach ($subCats as $subcat) {
                                    //     echo '<option '.(isset($_GET['cat']) && $_GET['cat'] == $subcat->getId()?'selected="selected"':'').' value="'.$subcat->getId().'">'.$subcat->getName().'</option>';
                                    //     $childCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                                    //     $subOneCategs = $childCategory->getChildrenCategories();
                                    //     if(!empty($subOneCategs))
                                    //         foreach ($subOneCategs as $subOneCateg) {
                                    //             echo '<option '.(isset($_GET['cat']) && $_GET['cat'] == $subOneCateg->getId()?'selected="selected"':'').'  value="'.$subOneCateg->getId().'">&nbsp;'.$subOneCateg->getName().'</option>';
                                    //             $grandChildCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($subOneCateg->getId());
                                    //             $grandChildCategs = $grandChildCategory->getChildrenCategories();
                                    //             if(!empty($grandChildCategs))
                                    //                 foreach ($grandChildCategs as $grandChildCateg) {
                                    //                     echo '<option '.(isset($_GET['cat']) && $_GET['cat'] == $grandChildCateg->getId()?'selected="selected"':'').' value="'.$grandChildCateg->getId().'"> &nbsp; &nbsp;'.$grandChildCateg->getName().'</option>';
                                    //                 }
                                    //         }
                                    // }
                            ?>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="actions"><button type="submit" title="<?= $block->escapeHtmlAttr(__('Search')) ?>" class="action search" aria-label="Search"><span><?= $block->escapeHtml(__('Search')) ?></span></button></div>
        </form>
    </div>
</div>