@font-face {
    font-family: 'Futura Lt BT';
    src: url('../fonts/futura/FuturaBT-LightItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/futura/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura BdCn BT';
    src: url('../fonts/futura/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/futura/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-CondensedLight.woff2') format('woff2'),
        url('../fonts/futura/Futura-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('../fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlkCnIt BT';
    src: url('../fonts/futura/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-ExtraBlackCondItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('../fonts/futura/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Black-Bold.woff2') format('woff2'),
        url('../fonts/futura/Futura-Black-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/futura/FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('../fonts/futura/FuturaBT-Light.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../fonts/futura/FuturaBT-Heavy.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../fonts/futura/FuturaBT-HeavyItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('../fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/futura/FuturaBT-Book.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura MdCn BT';
    src: url('../fonts/futura/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('../fonts/futura/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LtCn BT';
    src: url('../fonts/futura/FuturaBT-LightCondensed.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../fonts/futura/FuturaBT-BookItalic.woff2') format('woff2'),
        url('../fonts/futura/FuturaBT-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

