//----
// @category  : Ubertheme
// @package   : Ubertheme_UbMegaMenu
// @author    : Ubertheme.com
// @copyright : Copyright 2009-2020 Ubertheme
//---------------------------
.drilldown-sub {
    display: none;
}

.child-content.drilldown-root {
    display: block !important;
}

.drilldown-root {
    >.drilldown-buttons {
        background: @color-white;
        border-bottom: 1px solid @color-gray-darken0;
        display: inline-block;
        height: 50px;
        left: 0;
        margin: 0 -20px;
        padding: 0 20px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        width: 100%;
        z-index: 11;
    }

    &.sticky-disabled {
        >.drilldown-buttons {
            position: static;
        }
    }
}

.drilldown {

    &:after {
        background-color: @color-white;
        color: @color-gray20
        ;
        content: "";
        height: 50px;
        position: fixed;
        right: -50px;
        top: 0;
        width: 50px;
    }

    &-container {

        li,
        li.mega {
            border-bottom: 0 !important;
            margin-bottom: 0;

            span.mega,
            a.mega {
                border-bottom: 1px solid @color-gray-darken0;
                display: block;
                font-weight: 400;
                line-height: 48px;
                width: 100%;

                span.menu-title {
                    background: none !important;
                    display: inline-block !important;
                    padding: 0 !important;
                    text-transform: none;
                    width: auto;
                }

                &.has-child {
                    font-weight: 700;
                    position: relative;

                    span.menu-title {
                        text-transform: uppercase;
                    }

                    &:after {
                        color: inherit;
                        content: '\f105';
                        display: inline-block;
                        font-family: 'FontAwesome';
                        font-size: 18px;
                        font-weight: normal;
                        line-height: inherit;
                        overflow: hidden;
                        position: absolute;
                        right: 0;
                        top: 0;
                        speak: none;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }

    &-root {
        width: 100% !important;

        .drilldown-back {
            background-color: @color-white;
            color: @color-gray20;
            display: none;
            font-weight: bold;
            line-height: 48px;
            padding-left: 20px;
            text-transform: uppercase;
            order: 2;

            &:active,
            &:focus,
            &:hover {
                color: @color-gray20;
                text-decoration: underline;
            }

            &::after {
                color: inherit;
                content: '\f104';
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 18px;
                font-weight: normal;
                left: 20px;
                line-height: inherit;
                overflow: hidden;
                position: absolute;
                speak: none;
                -webkit-font-smoothing: antialiased;
            }
        }

        .menu-group-link {
            color: @color-gray20;
            display: none;
            float: right;
            font-size: 12px;
            line-height: 48px;
            padding-bottom: 0;
            padding-left: 0;
            text-decoration: underline;
        }
    }

    .mega-col,
    .child-content-inner {
        width: 100% !important;
    }

    .child-content-inner {
        min-height: 0;
        overflow: auto;
    }

    .menu-desc {
        display: none !important;
    }

    .block-title {
        margin: 0.625rem 0 1.25rem;

        strong {
            font-size: 14px;
            font-weight: 700;
        }
    }

    ul.level1,
    ul.level2,
    ul.level3 {

        .child-content {
            border: 0;
            position: static;
            box-shadow: none;
        }

        .child-content-inner {
            padding: 0 0 0 20px;
            box-sizing: border-box;
        }

        li.mega {
            border-bottom: 0 !important;

            span.mega,
            a.mega {
                span.menu-icon {
                    display: inline-block;
                    height: 15px;
                    left: 0;
                    margin: 0;
                    position: static;
                    top: 0;
                    width: 20px;
                }
            }
        }
    }
}