<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */
?>
<a href="#"
   class="action tocompare"
   title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>"
   aria-label="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>"
   data-post='<?= /* @noEscape */ $block->getCompareHelper()->getPostDataParams($block->getProduct()) ?>'
   role="button">
    <img src='<?php echo $this->getViewFileUrl('images/icons/compare-graph-icon.svg'); ?>' >
</a>
