<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $catId = 2;  //Parent Category ID
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
    $subCats = $subCategory->getChildrenCategories();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<div class="left-tabs-wrap">
<div class="row h-100">
<div class="col-12">
<?php 
if( count($subCats) > 0 ):
 ?>
<ul id="myTab" class="nav nav-tabs show_title" title="Product By Category" role="tablist">
 <?php
    $catCount = 0;
    foreach ($subCats as $subcat) {
     	$_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
        $subcaturl = $subcat->getUrl();
        $catCount++;
 ?>
<li class="nav-item categ-tab-<?php echo $catCount;?>">
	<a class="nav-link active" role="tab" href="<?php echo '#'.$subcat->getName() ?>" data-toggle="tab" aria-controls="home" aria-selected="true">
		<?php echo $subcat->getName(); ?>
	</a>
</li>
<?php } ?>
</ul>
<?php endif; ?>
</div>

<div class="col-12 align-self-end">
<div class="link-with-image">
</div>
</div>
</div>
</div>
</div>
<div class="col-md-9">
<div id="myTabContent" class="tab-content ">
<?php 
if( count($subCats) > 0 ):
    $catProdTabContent = 0;
    foreach ($subCats as $subcat) {
     	$_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
     	$cateinstance = $objectManager->create('Magento\Catalog\Model\CategoryFactory');
     	$cateid = $subcat->getId();
     	$allcategoryproduct = $cateinstance->create()->setPageSize(6)->setCurPage(1)->load($cateid)->getProductCollection()->addAttributeToSelect('*');
     	$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
     	$listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
     	$catProdTabContent++;
 ?>
 <div id="<?php echo $subcat->getName() ?>" class="tab-pane fade show active categ-prod-tab-content-<?php echo $catProdTabContent;?>" role="tabpanel" aria-labelledby="<?php echo $subcat->getName().'-tab';?>">
     <ol class="product-lists">
    <?php
        foreach ($allcategoryproduct as $product){
            //echo 'Name  =  '.$product->getName().'<br>';
            $productName = $product->getName();
            $productUrl = $product->getProductUrl();
            $productImageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
            $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
            $productPrice = $priceHelper->currency($product->getFinalPrice(), true, false);
            $addToCartUrl =  $listBlock->getAddToCartUrl($product);
            ?>
            <li class="product-item">
                
                <a href="<?php echo $productUrl ?>">
                    <div class="product-img">
                        <img src="<?php echo $productImageUrl;?>" style="width:25px;height:25px;">
                    </div>
                    <div class="product-content">
                        <p>
                            <?php echo $productName; ?>
                            <?php echo $productPrice; ?>
                        </p>
                        <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post"> 
                            <?php echo $block->getBlockHtml('formkey')?>
                            <div class="btn">
                                <button type="submit" title="Add to Cart" class="action tocart primary">
                                    <span>Add to Cart</span>
                                </button>
                            </div>   
                        </form>
                    </div>
                </a>
            </li>  
    <?php  }  
    ?>
    </ol>
</div>
 <?php } ?>
 <?php endif; ?>
</div>
</div>
</div>
</div>