// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 0;

//
//  Common
//  _____________________________________________

& when (@media-common =true) {

    .panel.header {

        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(@icon-menu,
            @_icon-font-size: 28px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________
& when (@media-target ='mobile'),(@media-target ='all') {
    @media all and (max-width: (@tablet-lg)) {
        .navigation {
            padding: 0;

            .parent {
                .level-top {
                    position: relative;
                    .lib-icon-font(@_icon-font-content: @icon-down,
                        @_icon-font-size: 42px,
                        @_icon-font-position: after,
                        @_icon-font-display: block);

                    &:after {
                        position: absolute;
                        font-size: 1.6rem;
                        right: 10px;
                        top: 7px;
                    }

                    &.ui-state-active {
                        .lib-icon-font-symbol(@_icon-font-content: @icon-up,
                            @_icon-font-position: after);
                    }
                }
            }
        }

        .nav-sections { 
            height: 100%; 
            top: 0;
            width: 100%;
            max-width: 10;

            .switcher {
                border-top: 1px solid rgba(209, 209, 209, 0.38);
                font-size: 1.6rem;
                font-weight: @font-weight__bold;
                margin: 0 2rem;
                padding: .8rem 3.5rem .8rem 2rem;
                text-align: center;

                .switcher-options {
                    text-align: left;

                    a {
                        color: #fff;
                    }
                }

                .label {
                    display: block;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }

                &:last-child {
                    border-bottom: 1px solid rgba(209, 209, 209, 0.38);
                }
            }

            .switcher-trigger {
                strong {
                    position: relative;
                    .lib-icon-font(@_icon-font-content: @icon-down,
                        @_icon-font-size: 42px,
                        @_icon-font-position: after,
                        @_icon-font-display: block);

                    &:after {
                        position: absolute;
                        font-size: 1.6rem;
                        right: -25px;
                        top: -2px;
                    }
                }

                &.active strong {
                    .lib-icon-font-symbol(@_icon-font-content: @icon-up,
                        @_icon-font-position: after);
                }
            }

            .switcher-dropdown {
                .lib-list-reset-styles();
                display: none;
                padding: @indent__s 0;
            }

            .switcher-options {
                &.active {
                    .switcher-dropdown {
                        display: block;
                    }
                }
            }

            .header.links {
                .lib-list-reset-styles();
                padding-left: 2rem;
                padding-right: 2rem;

                li {
                    font-size: 1.6rem;
                    margin: 0;

                    &.greet.welcome {
                        border-top: 1px solid @color-gray82;
                        font-weight: 500;
                        padding: 8px 40px 8px 15px;
                    }

                    >a {
                        border-top: 1px solid rgba(209, 209, 209, 0.38);
                    }

                    &:last-child>a {
                        border-bottom: 1px solid rgba(209, 209, 209, 0.38);
                    }
                }

                a,
                a:hover {
                    .lib-css(color, @navigation-level0-item__color);
                    .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                    display: block;
                    font-weight: @font-weight__bold;
                    padding: .8rem @indent__base;
                }

                .header.links {
                    border: 0;
                }
            }
        }

        .nav-before-open {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;

            .page-wrapper {
                .lib-css(transition, left .3s, 1);
                height: 100%;
                left: 0;
                
                position: relative;
            }

            body {
                height: 100%;
                
                position: relative;
                width: 100%;
            }
        }

        .nav-open {
            .page-wrapper {
                left:0; 
            }

            .nav-sections {
                @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
                left: 0;
                z-index: 9999;
            }

            .nav-toggle {
                &:after {
                    background: rgba(0, 0, 0, @overlay__opacity);
                    content: '';
                    display: block;
                    height: 100%;
                    position: fixed;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .nav-sections-items {
            .lib-clearfix();
            position: relative;
            z-index: 1;
            display: none;
        }

        .nav-sections-item-title {
            background: darken(@navigation__background, 5%);
            border: solid darken(@navigation__background, 10%);
            border-width: 0 0 1px 1px;
            box-sizing: border-box;
            float: left;
            height: 71px;
            padding-top: 24px;
            text-align: center;
            width: 33.33%;

            &.active {
                background: transparent;
                border-bottom: 0;
            }

            .nav-sections-item-switch {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .nav-sections-item-content {
            .lib-clearfix();
            box-sizing: border-box;
            float: right;
            margin-left: -100%;
            margin-top: 71px;
            width: 100%;

            &.active {
                display: block;
            }

            padding: @indent__m 0;
        }

        .lib-main-navigation();
    }
}

//
//  Desktop
//*/
& when (@media-target ='desktop'),(@media-target ='all') {
    @media all and (min-width: (@tablet-lg)) {
        .nav-toggle {
            display: none;
        }

        .nav-sections {
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(auto);
            margin-bottom: @indent__m;
        }

        .nav-sections-item-title {
            display: none;
        }

        .nav-sections-item-content {
            display: block !important;
        }

        .nav-sections-item-content>* {
            display: none;
        }

        .nav-sections-item-content {
            >.navigation {
                display: block;
            }
        }

        .lib-main-navigation-desktop();

        .panel.header {

            .links,
            .switcher {
                display: inline-block;
            }
        }
    }

}
@media @tablet-landscape {
    .section-item-title.nav-sections-item-title {
        display: none;
    }
    
    #store.settings {
        display: none;
    }
    
    .mobi-bottom-block {
        display: none;
    }
    
    .mobi-top-block {
        display: none;
    }
    
    .section-item-content.nav-sections-item-content:last-child {
        display: none;
    }
    
    .section-item-content.nav-sections-item-content {
        margin: 0;
        padding: 0;
    }
    
    .nav-close-trigger {
        display: none;
    }
    
    .ninjamenus.ninjamenus-desktop.ninjamenus-horizontal > .magezon-builder > .nav-item {
        border: none;
    }
    .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active){
        border: none!important;
    }
    .magezon-builder > .nav-item > a {
        line-height: 30px;
    }
}


/****** Mobile navigation ********************/
@media  @tablet-alllevel {
     
    .section-items.nav-sections-items {
        display: block;
    }

    .nav-open .sections.nav-sections {
        z-index: 9999;
        overflow-y: scroll!important;
    }
.nav-sections {
    height: 100%;
    left: -100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 10;

	.navigation {
        padding: 0!important;
		.nav-item {
			border: none;
            >&:first-child{
                display: none;
            }
			a {
				width: 100%;
				height: auto;
				float: left;
				padding: 8px 16px;
				font-size: @size-base;
				line-height: 24px!important;
				border: none;
				&:after {
					display: none;
				}
			}
			.opener {
                width: 46px!important;
                height: 40px!important;
				&:before {
					display: none;
				}
			}
			>a {
				span.title {
					padding: 0;
					font-size: @size-base;
					font-weight: normal !important;
					line-height: 24px;
					border: none;
					font-family: @normal-font;
					color: @secondary-col !important;
				}
			}
		}
		.nav-item.active {
			a {
				border: none;
			}
		}
		.left_edge_parent_item {
			.opener {
				&:after {
					width: 10px;
					height: 10px;
					position: absolute;
					left: 19px;
					top: 11px;
					content: "";
					border: @secondary-col solid 2px;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
					border-top: none;
					border-right: none;
					margin: 0;
				}
			}
		}
		.nav-item.ninjamenus-toggle-active {
			.opener {
				background: none!important;
				&:after {
					top: 17px;
					-webkit-transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					transform: rotate(135deg);
				}
			}
		}
		.ninjamenus.ninjamenus-mobile {
			.item-submenu {
				width: 100% !important;
				position: static;
				top: auto;
				float: left;
				margin: 0;
				box-shadow: none;
				border-radius: 0;
				padding: 0 !important;
				a {
					padding: 6px 40px;
					span.title {
						color: @primary-col !important;
						font-family: @main-font;
					}
				}
				.view-more-btnlink {
					border: none;
					padding: 0 0 2px 0;
					margin: 0;
					a {
						span {
							color:@primary-light !important;
						}
					}
				}
			}
		}
	}
}
    .section-item-content.nav-sections-item-content {
        background: @lighter!important;
        padding-top: 0!important;
        margin: 64px 0 0 0;
    }

    html body .nav-sections-item-content>.navigation {
        background: none !important;
        width: 100%;
        float: left;
    }
    .nav-sections .navigation .nav-item.level0:first-child {
        display: none;
    }
    .nav-sections .navigation .nav-item.level0:nth-child(2) {
    display:none;
    }
    
    .mobi-top-block {
        width: 100%;
        height: auto; 
        ul {
            width: 100%;
            height: auto;
            float: left; 
            border-bottom: @border solid 1px;
            padding: 13px 0 11px;
            margin: 0 0 10px;
            li {
                width: 100%;
                height: auto;
                float: left;
                a {
                    width: 100%;
                    height: auto;
                    padding: 8px 16px;
                    float: left;
                    i {
                        width: 18px;
                        height: 18px;
                        float: left; 
                        position: relative;
                        top: 2px;
                        margin-right: 6px;

                        &.brand-icon{
                            background: url('@{baseDir}images/icons/badge_icon_gray.svg')no-repeat center center;
                            background-size: 18px 18px;
                        }
                        &.arrival-icon{
                            background: url('@{baseDir}images/icons/tag_icon_gray.svg')no-repeat center center;
                            background-size: 18px 18px;
                        } 
                    }
                    span {
                        font-size: @size-base; 
                        font-family: @main-font;
                        color: @primary-col;
                    }
                }
            }
        }
    }


    .mobi-bottom-block {
        width: 100%;
        height: auto; 
        padding-top: 5px;
        ul {
            width: 100%;
            height: auto;
            float: left;
            border-top: @border solid 1px;
            border-bottom: @border solid 1px;
            padding: 13px 0 11px;
            margin: 11px 0 0 0;
            li {
                width: 100%;
                height: auto;
                float: left;
                a {
                    width: 100%;
                    height: auto;
                    padding: 8px 16px;
                    float: left;
                    i {
                        width: 18px;
                        height: 18px;
                        float: left; 
                        position: relative;
                        top: 2px;
                        margin-right: 6px;

                        &.corporate-icon{
                            background: url('@{baseDir}images/icons/office_icon.svg')no-repeat center center;
                            background-size: 18px 18px;
                        }
                        &.catalogue-icon{
                            background: url('@{baseDir}images/icons/document_icon.svg')no-repeat center center;
                            background-size: 18px 18px;
                        }
                        &.store-icon{
                            background: url('@{baseDir}images/icons/location_icon.svg')no-repeat center center;
                            background-size: 18px 18px;
                        }
                        &.call-icon{
                            background: url('@{baseDir}images/icons/call_iconm.svg')no-repeat center center;
                            background-size: 18px 18px;
                        }
                    }
                    span {
                        font-size: @size-base; 
                        font-family: @main-font;
                        color: @primary-col;
                    }
                }

            }
        }
        .last-navigation {
            width: 100%;
            float: left;
            padding-top: 14px;
            .nav-item {
                position: relative;
                width: 100%;
                float: left;
                a {
                    width: 100%;
                    height: auto;
                    float: left;
                    padding: 8px 16px!important; 
                    line-height: 24px !important;
                    border: none;
                    background: none !important;
                    span.title {
                        padding: 0;
                        font-size: @size-base !important;
                        font-weight: 400 !important;
                        line-height: 24px;
                        border: none;
                        font-family:  @normal-font;
                        color: @secondary-col !important;
                    }
                }
                .opener {
                    width: 46px!important;
                    height: 40px!important;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 100;
                    display: block;
                    &:after {
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        left: 19px;
                        top: 11px;
                        content: "";
                        border: @secondary-col solid 2px;
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        border-top: none;
                        border-right: none;
                        margin: 0;
                    }
                } 
                .sub-naigationblock{
                    width: 100%;
                    height: auto;
                    float: left;
                    border:none;
                    padding: 0;
                    margin: 0;
                    display: none; 
                    li{
                        width: 100%;
                        height: auto;
                         a {
                            padding: 6px 40px!important;
                            line-height: 24px !important;
                            color: @primary-col !important;
                            font-family:@main-font;
                        }
                    }
                }
            }
        }
    }
      




/***********navigation top section**************/ 

.nav-close-trigger {
    right: 100%;
    top: 12px;
    transition: all 0s ease-in;
}
.section-item-title.nav-sections-item-title a.logo,
.nav-close-trigger a {
    transition: all 0s ease-in;
}
.section-item-content.nav-sections-item-content .switcher.language.switcher-language{
    right: 100%; 
    width:50px;
    transition: all 0s ease-in;

}
 
html.nav-open {
	.section-item-content.nav-sections-item-content {
		.switcher.language.switcher-language {
			float: left;
			margin: 0;
			padding-top: 5px;
			position: fixed;
			top: 12px;
			right: 76px;
			width: 40px;
			padding: 0;
			border: none;
			height: 34px !important;
			z-index: 99999;
			strong {
				img {
					width: 31px;
                    height: 20px;
				}
			}
			.options {
				ul.dropdown {
					width: 56px;
					min-width: 56px;
					padding: 11px;
					border-radius: 5px;
					border: none;
					top: 0;
					left: auto;
					background: @lighter;
					height: auto !important;
					flex-direction: column;
					box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2) !important;
					right: 0;
					position: absolute;
					top: 100%;
					img {
						top: 0;
						width: 100%;
						margin: 0;
						padding: 0;
					}
				}
				.action.toggle {
					&:after {
						display: inline-block;
						width: 0;
						height: 0;
						margin-left: .255em;
						vertical-align: .255em;
						content: "";
						border-top: .3em solid;
						border-right: .2em solid transparent;
						top: 25px;
						border-bottom: 0;
						border-left: .15em solid transparent;
						position: absolute;
						color: @lighter;
						font-size: 15px;
						left: 31px;
					}
				}
			}
			.switcher-options {
				a {
					font-size: 0;
				}
				li.view-greek.switcher-option {
					height: 34px;
					margin: 0;
					padding: 0;
					line-height: 0;
					width: 34px;
					height: auto;
				}
			}
			strong.view-default {
				&:after {
					display: none;
				}
			}
		}
		strong.label.switcher-label {
			display: none;
		}
	}
	.nav-sections {
        overflow-y: scroll;
		.switcher-trigger {
			strong {
				span {
					display: none;
				}
			}
		}
	}
	.nav-close-trigger {
		width: 40px;
		height: 40px;
		position: fixed;
		top: 12px;
		right: 6px; 
		z-index: 9999;
		a {
			width: 40px;
			height: 40px;
			float: left; 
			z-index: 9999;
			padding: 10px;
			i {
				width: 20px;
				height: 20px;
				float: left;
                position: relative;
                top: -1px;
                background: url('@{baseDir}images/icons/close_icon_top.svg')no-repeat center center;
				background-size: 20px 20px;
			}
		}
	}
    .section-item-title.nav-sections-item-title {
        background: @primary-col;
        width: 100%;
        z-index: 99999;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 64px;
        a.logo {
            width: 100%;
            height: auto;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999999;
            margin: 0;
            padding: 20px 16px;
            img {
                height: 24px;
                display: block;
                width: auto;
                float: left;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .section-item-content.nav-sections-item-content+.section-item-title.nav-sections-item-title {
        display: none;
    }
    #store.settings {
        position: fixed;
        top: 0;
    }
    .nav-sections-item-content:last-child {
        margin: 0;
        padding: 0;
    }

}
}