html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0; 
    font: inherit;
    vertical-align: baseline;
    color:@secondary-col;
    font-family: @normal-font;
}
*,::after,::before
{
    box-sizing:border-box
}

body {
    font-family: @normal-font;
    font-size:  @size-base;
    line-height: 1.7;
    color:  @secondary-col;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden!important;
    width: 100%;
    float: left; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}
h1,h2,h3,h4,h5,h6 {
    font-family:  @black-font;
    font-style: normal; 
    margin: 0px;
    padding: 0px;
    color:  @secondary-col;
}
h1 {
    font-size: @size-h1;
    line-height:1.11;
    @media   @tablet-portrait {
        font-size:@size-h3;
        line-height: 1.3375;
    } 
}

h2 {
    font-size: @size-h2;
    line-height:1.11;
    @media   @tablet-portrait {
        font-size:@size-h3;
        line-height: 1.3375;
    } 
}

h3 {
    font-size: @size-h3;
    line-height: 1.33;
}

h4 {
    font-size: @size-h4;
    line-height: 1.75;
}

h5 {
    font-size: @size-h5;
    line-height: 1.55;
}

h6 {
    font-size: @size-h6;
    line-height: 1.57;
}

p {
    font-family:  @normal-font;
    font-size:  @size-base;
    line-height:1.5;
    color:  @secondary-col;
    margin: 0px;
    padding: 0 0 34px;
}

ul {
    background: none;
    margin: 0px;
    padding: 0px;
    list-style-image: none;
    list-style-type: none;
}

ul li {
    background: none;
    margin: 0px;
    padding: 0px;
    list-style-image: none;
    list-style-type: none;
}

a {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0px none !important;
}

img,
a img {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    border: none 0;
    outline: 0px none !important;
}

input:focus,
textarea:focus,
a:focus {
    outline: 0px none !important;
}
p:empty  {
    display: none;
}


/******* Buttons *********/
.action.primary,
.primary-btn.btn {
    width: auto;
    height: auto;
    float: left;
    background: @primary-col; 
    color: @lighter;
    padding: 12px 0;
    border-radius: 5px;
    font-family: @black-font;
    border: @primary-col solid 1px;
    text-align: center;

    &:hover {
        background:  @cart-count;
        color:  @lighter;
    }
}

.lighter-btn.btn {
    width: auto;
    height: auto;
    float: left;
    background: @lighter; 
    color: @primary-col;
    padding: 12px 0;
    border-radius: 5px;
    font-family: @black-font;
    border:  @primary-col solid 1px;
    text-align: center;

    &:hover {
        background: @primary-col;
        color: @lighter;
        border:  @primary-col solid 1px;
    }
}