// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
 

/*********************************************************************************/
 /**
 * 1. Colors and backgrounds
 * ----------------------------------------------------------------------------
 */   

    @darker:            #000000;
    @lighter:           #FFFFFF;
    @primary-col:       #1D4F9C; 
    @secondary-col:     #1F2933; 
    @gray-bg:           #F5F7FA;
    @light-txt:         #7B8794;
    @white:               @lighter;
    @success :          #48BB78;
    @border:            #E4E7EB;
    @place-txt:         #9AA5B1;
    @cart-count:        #061D3F;
    @remove-col:         #CF1124;
    @primary-light :   #086DE1;
    @start-col  :       #F7C948;
    
/****prev *************/
    @dark_blue: #122E58; 
    @header_top_panel_border: rgba(232, 232, 232, 0.129);
    @page__background-color: @color-white;
    @sidebar__background-color: @color-white-smoke;
    @block-items__counter__color: @color-gray43; 
    @color-gray-middle4: @dark_blue;
    @_dropdown-list-min-width: 100px;
 
 
  /**
  * 2. Fonts list
  * ----------------------------------------------------------------------------
  */ 
  
 @font-face {
     font-family: 'lato-normal'; 
     font-style: normal;
     text-rendering: optimizeLegibility;
     src: url("../fonts/lato-normal.woff2") format("woff2"), url("../fonts/lato-normal.woff") format("woff");
 }
 
 @font-face {
     font-family:'lato-bold'; 
     font-weight: 600;
     font-style: normal;
     text-rendering: optimizeLegibility;
     src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
 }
 
 @font-face {
     font-family: 'lato-black'; 
     font-style: normal;
     font-weight: 900;
     text-rendering: optimizeLegibility;
     src: url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
 } 
 @font-face {
     font-family: 'helveticaregular';
     src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
          url('../fonts/helvetica-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 } 
 
 @font-face {
     font-family: 'helveticabold';
     src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
          url('../fonts/helvetica-bold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 } 
 
 //main fonts
 @main-font: 	'lato-bold';
 @black-font: 	'lato-black';
 @normal-font: 	 'lato-normal'; 
  
 @sub-bold: 	    'helveticabold';
 @sub-normal: 	'helveticaregular';

    


//Icons
@font-luma: 'luma-icons';
@font-fontawesome: "Font Awesome 5 Free";
@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b'; 
@icon-calendar__font-size: 23px;
 
 
 //main font sizes
 @size-base:           16px; 
 
 @size-h1:            2.25rem;   // ~36px
 @size-h2:            2.25rem;   // ~36px
 @size-h3:            1.5rem;   // ~24px
 @size-h4:            1.25rem;   // ~20px
 @size-h5:            1.125rem;   // ~18px
 @size-h6:            0.875rem;   // ~14px
 @size-sm:            0.75rem;   // ~12px
 @size-amt:           1.875rem;   // ~30px
  
 
 
  /**
  * 3. Media queries breakpoints
  * ----------------------------------------------------------------------------
  */    
  
 
//custom container  
@desktop-sm: 1440px;
@desktop-xsm: 1280px;
@tablet-lg: 1199px;
@tablet-sm: 991px;
@mobile-lg: 768px; 
@mobile-xs: 480px;


// mixins
@content-container-max-width: 1440px;
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%; 
    @media(min-width: @mobile-lg) {
        max-width: 752px;
    }

    @media(min-width: @tablet-sm) {
        max-width: 950px;
    }

    @media(min-width: @desktop-xsm) {
        max-width: 1240px;
    } 
    @media(min-width: @desktop-sm) {
        max-width: 1440px;
    } 
}
  
 

 
 @desktop-only:   ~"only screen and (min-width: 768px)";

 @screen-lgup:   ~"only screen and (min-width: 1366px) and (max-width: 1919px)";
 @screen-medup:    ~"only screen and (min-width: 1200px) and (max-width: 1365px)";
 @tablet-landscape:   ~"only screen and (min-width: 1024px) and (max-width: 1199px)";
 @tablet-alllevel:    ~"only screen and (max-width: 1023px)";
 @tablet-portrait:    ~"only screen and (min-width: 768px) and (max-width: 1023px)";
 @mobile-landscape:   ~"only screen and (max-width : 767px)";
 @mobile-portrait:    ~"only screen and (max-width : 479px)";
 @mobile-small:    ~"only screen and (max-width : 359px)";

//  @media  @mobile-landscape {} 
 
 
 
 
  



