 
<div class="footer-top-section"> 
<?php echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('footer-navigation-block')
          ->toHtml(); ?>
            <!-- <div class="left-main-block">
                <div class="logo-outerblock">
                    <a href="#"> <img src="<?php echo $this->getViewFileUrl('images/footer-logo.png'); ?>" alt="logo"></a>
                    
                </div>
                
                <p>Our advantage and continuous strength is rooted with our solid values on customer service and ethics, since 1989.</p>
                <div class="social-icons">
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/icons/facebook_icon.svg'); ?>" alt="facebook"></a>
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/icons/insta_icon.svg'); ?>" alt="instagram"></a>
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/icons/youtube_icon.svg'); ?>" alt="youtube"></a>
                </div>  
            </div> 


            <div class="navigations-main-block">
                
            <div class="single-section">
                <h5>Company</h5>
                <ul>
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Store Locator</a></li> 
                </ul>            
            </div>
            <div class="single-section">
                <h5>Shop</h5>
                <ul>
                    <li><a href="#">Our PDF Catalogue</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Loyalty Points</a></li> 
                </ul> 
        
                </div>
                <div class="single-section">
                <h5>Secure &amp; Easy Payments</h5>
                <div class="cards-block">
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/cards_icons.png'); ?>" alt="cards"></a>
                
                </div>           
            </div>
            </div>


            <div class="footer-details-section">
                <ul>
                    <li>
                        <div class="icon-block">
                        <svg class="w-6 h-6" fill="none" stroke="#7B8794" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"></path></svg>
                        </div>
                        <div class="content-blk">
                            <h5>Free Shipping</h5>
                            <p>Orders over €50 for all cities in Cyprus are shipped free of charge</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-block">
                        <svg class="w-6 h-6" fill="none" stroke="#7B8794" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path></svg>
                        </div>
                        <div class="content-blk">
                            <h5>A Huge Variety</h5>
                            <p>Over 6000 guaranteed products at the lowest price </p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="icon-block">
                        <svg class="w-6 h-6" fill="none" stroke="#7B8794" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>
                        </div>
                        <div class="content-blk">
                            <h5>Loyalty System</h5>
                            <p>Become a member of  our shop and start collecting Loyalty Points and discounts</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-block">
                        <svg class="w-6 h-6" fill="none" stroke="#7B8794" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
                        </div>
                        <div class="content-blk">
                            <h5>Have questions? Call us</h5>
                            <p><a href="tel:+357 22467686">+357 22467686</a></p>
                        </div>
                    </li> 
                </ul>
            </div>    -->
 
</div>
<div class="footer-bottom-section">
<?php echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('footer-copyright-block')
          ->toHtml(); ?>
    <!-- <p>&copy; <a href="#">George Katasafados Ltd</a>  Distributors Agents Nicosia Cypsrus.</p>
    <ul>
        <li><a href="#">Policies</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul> -->
</div>