<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<a class="to-top" href="#"></a>
<div class="footer content">
        <?= $block->getChildHtml() ?>
        <?php
        echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('footer_block')
            ->toHtml();
        ?>
        <address><?= $block->escapeHtml($block->getCopyright()) ?></address>
</div>