<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 *  General template for displaying group of blocks divided into sections
 */

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')) :?>
    <?php
    if (($key = array_search("store.links", $detailedInfoGroup)) !== false) {
            unset($detailedInfoGroup[$key]);
        }
    ?>        
    <div class="sections <?= $block->escapeHtmlAttr($groupCss) ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="section-items <?= $block->escapeHtmlAttr($groupCss) ?>-items">
            <?php foreach ($detailedInfoGroup as $name) :?>
                <?php
                    $html = $layout->renderElement($name);
                if (!trim($html) && ($block->getUseForce() != true)) {
                    continue;
                }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="section-item-title <?= $block->escapeHtmlAttr($groupCss) ?>-item-title"
                     data-role="collapsible">
                     <?php if($name == 'store.menu'): ?>
                     <a
                        class="logo"
                        href="<?= $block->escapeUrl($block->getUrl('')) ?>"
                        title="<?= $block->escapeHtmlAttr($storeName) ?>"
                        aria-label="store logo">
                        <img src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>"
                            title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
                            alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
                                <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
                                <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
                        />
                    </a>
                    <?php endif; ?>
                </div>
                <div class="section-item-content <?= $block->escapeHtmlAttr($groupCss) ?>-item-content"
                     id="<?= $block->escapeHtmlAttr($alias) ?>"
                     data-role="content">
                    <?php if($name == 'store.settings'): ?>
                        <div class="language-container">
                            <?= /* @noEscape */ $html ?>
                        </div>
                        <?php
                        /**
                         * Custom static block
                         */
                        elseif($name == 'store.menu'): 
                            
                        $menuTopHtml = $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('menu_mobile_top_content')
                        ->toHtml();

                        $menuBottomHtml = $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('menu_mobile_bottom_content')
                        ->toHtml();

                        echo $menuTopHtml.$html.$menuBottomHtml;
                    ?>
                    <?php else:?>
                        <?= /* @noEscape */ $html ?>
                    <?php endif; ?>
                    
                </div>
            <?php endforeach;?>
        </div>
    </div>
    <div class="nav-close-trigger">
        <a href="#"><i class="close-icon"></i></a>
    </div>
<?php endif; ?>
