<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */
?>
<?php if ($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price): ?>
    <?php $range = $this->getPriceRange($filter); ?>
    <?php $url = $this->getFilterUrl($filter); ?>  
    <script>
        var price_url = "<?= $url; ?>";
        require([
            'jquery',
            "jquery/ui",
            'domReady!'
        ], function ($) {
    //     `use strict`;
            console.log("Price Slider..!");
    //require(["jquery" , "jquery/jquery-ui"], function($){
            // ...
            $("div#price-slider").slider({
                range: true,
                min: <?= $range['min'] ?>,
                max: <?= $range['max'] ?>,
                values: [<?= $range['min'] ?>, <?= $range['max'] ?>],
                slide: function (event, ui) {
                    $("#amount").html("<span class='from'>" + ui.values[ 0 ] + "</span><span class='to'>" + ui.values[ 1 ]+ "</span>");
                },
                change: function (event, ui) {
                    window.location.href = price_url + ui.values[0] + "-" + ui.values[1];
                }
            });
            $("#amount").html("<span class='from'>" + $("#price-slider").slider("values", 0) +
                    "</span> <span class='to'>" + $("#price-slider").slider("values", 1) + "</span>");
        });
    </script>
    <?php ?>      
    <p id="amount">
    </p>
    <div id="price-slider"></div>

<?php else: ?>
    <div class="radio-custom">
        <?php foreach ($filterItems as $filterItem): ?>
            <div class="radio-col">
                <?php if ($filterItem->getCount() > 0): ?>
                    <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>">
                        <input type="radio" name="pro-size" id="<?php /* @escapeNotVerified */ echo $filterItem->getId() ?>">
                        <label for="<?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>"> <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?></label>
                    </a>
                <?php else: ?>
                    <label for="<?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>"> <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?></label>
                <?php endif; ?>
            </div>
        <?php endforeach ?>
    </div>
<?php endif; ?>