<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<span class="product-image-container" data-bind="style: {width: width/2 + 'px'}">
    <span class="product-image-wrapper"  data-bind="style: {'padding-bottom': height/width*100 + '%'}">
        <img class="product-image-photo" data-bind="attr: {src: src.replace('product','product/'), alt: alt}, style: {width: 'auto', height: 'auto'}" />
    </span>
</span>
